@model IEnumerable<AspNetArticle.Core.DataTransferObjects.ArticleDto>

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Articles";
}

@if (Model.Any())
{

    <div class="container-sm d-flex text-center justify-content-center mt-5 w-75 p-2 bg-light rounded">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th scope="col" class="col-1">Рейтинг</th>
                <th scope="col" class="col-5">Название</th>
                <th scope="col" class="col-auto">Категория</th>
                <th scope="col" class="col-auto">Дата публикации</th>
                <th scope="col" class="col-auto">Кнопки</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var art in Model.OrderByDescending(art => art.Rate))
            {
                 <tr id="table-button">
                    <th scope="row">@string.Format("{0:0.00}", art.Rate)</th>
                    <td>@art.Title</td>
                    <td>@art.Category</td>
                    <td>@art.PublicationDate.ToString("f")</td>
                    <td id="col-button">
                         <a asp-controller="Article" asp-action="Details" asp-route-id="@art.Id" class="w-100 btn btn-sm btn-success">
                             Подробнее
                         </a>                         
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <h3>В базе нет новостей</h3>
}