@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.CodeAnalysis.VisualBasic.Syntax
@model List<AspNetArticle.MvcApp.Models.AdminPageUserModel>

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Articles";
}

@if (Model.Any())
{

    <div class="container-sm d-flex text-center justify-content-center mt-5 w-75 p-2 bg-light rounded">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th scope="col" class="col-1">Статус</th>
                <th scope="col" class="col-1">Имя</th>
                <th scope="col" class="col-2">Email</th>
                <th scope="col" class="col-1">Кол-во комментариев</th>
                <th scope="col" class="col-auto">Последний визит</th>
                <th scope="col" class="col-auto">Колличество дней в составе</th>
                <th scope="col" class="col-auto">Возможности</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var userWithComments in Model)
            {
                <tr id="table-row">

                    <th scope="row">@userWithComments.User.Status.ToString()</th>
                    <td>@userWithComments.User.UserName</td>
                    <td>@userWithComments.User.Email</td>
                    <td>@userWithComments.Comments.Count()</td>
                    <td>@userWithComments.User.LastVisit.ToString("f")</td>
                    <td>@((DateTime.Now - userWithComments.User.AccountCreated).Days)</td>

                    <td id="table-button">
                        <a asp-controller="Admin" asp-action="UserDetails" asp-route-id="@userWithComments.User.Id" class="btn btn-sm btn-success me-1">Подробнее</a>
                        <a class="btn btn-sm btn-danger ps-3 pe-3 mt-1">Заблокировать</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <h3>В базе нет новостей</h3>
}