@using AspNetArticle.MvcApp.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@model AspNetArticle.MvcApp.Models.ArticleWIthCommentaryViewModel

@{
    Layout = "_MyLayoutBootStrap";
}

@{
    ViewData["Title"] = "Details";
}

<div class="container d-sm-flex col-10">
    <div class="container d-sm-flex text-center w-100">
        <div class="m-5 p-5 bg-white" style="border-radius: 8px;">
           
            @*<i class="fa-regular fa-star fa-2xl"></i>*@
            <div class=" justify-content-end align-items-end align-content-end align-self-end text-end mb-3">

                <span id="favourite" data-bs-toggle="tooltip" title="Добавить в избранное" onclick="addArticle()">
                    <img id="star" class="d-inline-block" onclick="changeStar(this)" src="~/image/star_disable.png" style="width: 5%">
                </span>

            </div>

            <h1>@Model.Article.Title</h1>
            <hr/>
            <div class="my-5">
                <img src="@Model.Article.ImageUrl"/>
            </div>
            <div class="bg-light p-5 text-start" style="border-radius: 6px;">
                <article-text article-text="@Model.Article.Text"></article-text>
            </div>
            <div class="d-flex justify-content-end me-4 mt-2 p-3">
                Опубликовано: @Model.Article.PublicationDate.ToString("g")
            </div>
        </div>
        
    </div>
</div>

<hr />

<p>
    <button class="btn btn-sm btn-primary mb-2 ms-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <h3 class="mb-0">Комментарии: <span class="badge bg-danger rounded-pill">@Model.ExistComments?.Count()</span></h3>
    </button>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="container d-flex col-8 p-3 flex-column">
            <partial name="_CommentaryListPartialView" model="Model" />
        </div>
    </div>
</div>

<hr />

@if (User.Identity.IsAuthenticated)
{
    <div class="d-flex justify-content-start bg-white p-3 col-auto mt-2" style="border-radius: 8px;">
        <h2>Оставить свой комментарий:</h2>
    </div>

    <!-- Create Comment -->
    <div class="container d-flex flex-column col-10 bg-light p-3 mt-2" style="border-radius: 6px;">
         <partial name="_CreateCommentaryPartialView" model="Model.Comment"/>
       
    </div>
}
<script src="~/js/add-favourite-article.js"></script>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}