@using AspNetArticle.MvcApp.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@model AspNetArticle.MvcApp.Models.ArticleDetailViewModel

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Details";
}

<div class="container d-sm-flex col-10">
    <div class="container d-sm-flex text-center w-100">
        <div class="m-5 p-5 bg-white" style="border-radius: 8px;">

            
            
                <div class=" d-flex justify-content-between mb-3">
                    <strong class="bg-warning p-1 rounded">Рейтинг: @string.Format("{0:0.00}", @Model.Article.Rate)</strong>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="text-end" id="favourite" data-bs-toggle="tooltip" title="Добавить в избранное" onclick="addArticle()">
                            <img id="star" class="d-inline-block " onclick="changeStar(this)" src="~/image/star_disable.png" style="width: 7%">
                        </span>
                    }

                </div>

            <h1>@Model.Article.Title</h1>
            <hr/>
            <div class="my-5">
                <img src="@Model.Article.ImageUrl"/>
            </div>
            <div class="bg-light p-5 text-start" style="border-radius: 6px;">
                <article-text article-text="@Model.Article.Text"></article-text>
            </div>
            <div class="d-flex justify-content-end me-4 mt-2 p-3 gap-1">
                <strong>Дата публикации: </strong> @Model.Article.PublicationDate.ToString("f")
            </div>
        </div>
        
    </div>
</div>

<hr />

<p>
    <button class="btn btn-sm btn-primary mb-2 ms-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <h3 class="mb-0">Комментарии: <span class="badge bg-danger rounded-pill">@Model.ExistComments?.Count()</span></h3>
    </button>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body col-10 offset-1">

        <!-- Show Comments -->
        <div class="container d-flex col-10 p-3 flex-column">
            <partial name="_CommentaryListPartialView" model="Model" />
        </div>
    </div>
</div>

<hr />

@if (User.Identity.IsAuthenticated)
{
    <div class="d-flex justify-content-start bg-white p-3 col-auto mt-2" style="border-radius: 6px;">
        <h2>Оставить свой комментарий:</h2>
    </div>

    <!-- Create Comment -->
    <div class="container d-flex flex-column col-10 bg-light p-3 mt-2" style="border-radius: 6px;">
        <partial name="_CreateCommentaryPartialView" model="Model.Comment"/> 
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-center text-center w-100 mt-5">
            <a asp-controller="Admin" class="btn btn-lg btn-danger w-75 ">Отправить новость в архив!</a>
        </div>
    }
}
<script src="~/js/add-favourite-article.js"></script>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}